.header-content {
  height: $header-height;
  background: url($image-path + "header-bk.png") center no-repeat;
  background-size: cover;
  padding: 0 20px;

  .header-logo {
    position: absolute;
    top: 0;
    width: 300px;
    height: 80px;
    color: #fff;
    z-index: 10000;
    background: url($image-path + "logo.png") center no-repeat;
    background-size: contain;
  }

  .ant-avatar-wrap {
    float: right;
    margin-right: 20px;
    border: none;
    display: inline-block;
    background: none;
    height: $header-height;
    line-height: $header-height;
    color: white;

    .ant-menu-vertical.ant-menu-sub > .ant-menu-item {
      border-bottom: 1px solid #eee;
      height: 38px;
      line-height: 38px;
    }

    .ant-menu-vertical.ant-menu-sub > .ant-menu-item:last-child {
      border-bottom: none;
    }
  }
}
